<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecore-gen-test -->
      <package
            uri="ecore://test.ecore-gen.html.nasdanika.org"
            class="org.nasdanika.html.ecore.gen.test.TestPackage"
            genModel="model/ecore-gen-test.genmodel"/>
   </extension>

</plugin>
